<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Kişisel Analiz Testi</title>
</head>
<body>


<div class="container"> 
    <br>
    <h3>Kişisel Analiz Testi</h3>
<h4>10 soruluk testi tamamladıktan sonra analiz sonucunuzu görebilirsiniz.</h4>
<br>
<form action="/app/" method="post">
    {% csrf_token %}
    <label for="gender">Cinsiyetinizi seçiniz. </label>
    <select name="gender">
        <option value="male" selected>Erkek</option>
        <option value="female">Kadın</option>
    </select>
    <br>
    <br>
    <label>Yaşınızı giriniz: </label>  
    <input type="number" name="age" min="1" max="99" required>  
    <br>
    <br>
    {% for soru in sorular %}
    <P><strong>{{ soru.indis }}. Soru -</strong> {{ soru.soru }}<br>
        <input type="radio" name="{{ soru.indis }}" value="1" required> Asla<br>
        <input type="radio" name="{{ soru.indis }}" value="2" required> Bazen<br>
        <input type="radio" name="{{ soru.indis }}" value="3" required> Çoğu kez<br>
        <input type="radio" name="{{ soru.indis }}" value="4" required> Daima<br>
    </p>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Testi Gönder</button>
    </form>
    <br>
    <br>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
